<!DOCTYPE html>
html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav.navbar
                 .navbar-header
                     a.navbar-brand(href='#')
                         img(alt='Brand', class="logo" src='../../assets/icons/plane.svg')
                    
        block content
        script(data-main="/javascripts/app/flights/js/infra/dependencies",src="/javascripts/libs/require.js")


















